* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    background-color: black;
    padding: 5px 0;
    display: flex;
}

.logo-group {
    border-radius: 50% !important;
    display: inline-block !important;
}



#menu li{
    display: inline-block;
    list-style: none;
    padding: 10px;
    
}

#menu li a{
    color: white;
    text-decoration: none;
}

.section{
    
    margin-bottom: 70px;
}

#menu .logo2, .logo3{
    width: 30px;
    height: 25px;
}

.button button{
    color: white;
    margin-right: 30px;
    padding: 10px;
    margin-top: 5px;
    background-color: tomato;
    border-radius: 5px;
}


.our-history{
    
    padding: 10px;
}

.h1-heading{
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.pizza-hut-history{
    padding-left: 100px;
    margin-top: 100px;
}

.bgpiza img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}



@media (max-width: 500px){
    .bgpiza img{
        text-align: center;
    }

    #header{
        width: 500px;
    }

    body{
        text-align: center;
        padding: 25px;
    }

    

    .section{
        margin-bottom: 20px;
    }
}


.footer-isde-bar{
    background: rgba(0, 0, 0, 0.856);
    color: white;
    padding-top: 20px;
    font-weight: bold;
}

.download-apps{
    padding-bottom: 80px;
}

.download-apps img{
    width: 40%;
    padding: 5px;
}

.download-apps img, p{
    padding-top: 5px;
}
.footer .author{
    padding-top: 15px;
    padding-bottom: 70px;
    
}

.footer .container{
    border-top: 3px solid white;
}